
img {
  max-width: 100%;
}

#sliderimage {
width: 280px;
height: 500px;
}
nav {
  position: relative;
  width: 100%;
}

nav #nav-logo {
  position: relative;
  display: inline-block;
  width: 200px;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 0;
  width: calc(100% - 210px);
  margin-top: 30px;
  vertical-align: top;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 18px;
  font-family: poppins, Helvetica, sans-serif;
  font-weight: bold;
  color:black;
  display: block;
  margin-right: 70px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #b1a05b;
  color: black;
  padding: 0px;
}

main {
  margin: 50px 0;
  margin-bottom: 100px;
}

form {
  max-width: 960px;
  border: 1px solid #cecece;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 50px;
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
  margin-bottom: 250px;
}

form input {
  width: 100%;
}

form legend {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}

form button {
  box-shadow: 0px 1px 0px 0px grey;
  background-color: #b1a05b;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 76px;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px grey;
}

footer {
    background-image: url(../images/bulletshells.jpg);
    padding: 50px 0;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

footer p {
  max-width: 960px;
  margin: 0 auto;
}

footer p span:first-child {
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
}

footer p a.button {
  box-shadow: 0px 1px 0px 0px grey;
  background-color:#b1a05b;
  border-radius:42px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:8px 76px;
  font-family: Poppins, Helvetica, sans-serif;
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px 1px 0px grey;
}

.bg {
  background-image: url(../images/bulletsontable.jpg);
  height: 100vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; }

#homelogo {
margin-top: 7%;}

li {
float: right;
}

.topnav a:hover {
background-color: #b1a05b;
color: black;
padding: 0px;
}


.container{
display: inline-flex;
}

.offer-container {
margin-top: 200px;
margin-bottom: 100px;
}


.whyuscontainer{
  display: flex;
  align-items: flex-start; }


h3 {
font-size: 30px;
font-weight: bold;
padding-left: 40px;
border: 0;
font-family: poppins;
}

h4 {
font-family: Poppins, Helvetica, sans-serif;
font-size: 25px;
font-weight: bold;
margin: 10px;
}

h6 {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 10px;

}


p {
font-family: Poppins, Helvetica, sans-serif;
font-size: 20px;
margin: 10px;
}

#seemoreinfo {
font-family: Poppins, Helvetica, sans-serif;
font-size: 15px;
color: black;
margin: 10px;
text-decoration: underline;
width:400px;

}

.bookbutton {
margin-top: 20px;
box-shadow: 0px 1px 0px 0px grey;
background-color:#b1a05b;
border-radius:42px;
display:inline-block;
cursor:pointer;
color:#ffffff;
padding:8px 76px;
  font-family: Poppins, Helvetica, sans-serif;
  font-size:13px;
  font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px grey;
}

.bookbutton:hover {
background-color: rgb(189, 187, 187);
}


.offers {
 padding:30px;
 width: 98%;
}

#footerbg { 
    background-image: url(../images/bulletshells.jpg);
    height: 120px;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#footertext { 
  height: 10px;
  width: auto;
  font-size: 20px;
  font-family: Poppins, Helvetica, sans-serif;
  color: white;
  display: inline-block;
margin-left: 310px;
margin-top: 50px;
}

.joinnowbutton {
  box-shadow: 0px 1px 0px 0px grey;
	background-color:#b1a05b;
  border-radius:20px;
  display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:poppins;
	font-size:12px;
	font-weight:bold;
	padding:8px 76px;
	text-decoration:none;
  text-shadow:0px 1px 0px grey;
  vertical-align: text-bottom;
  position: absolute;
  margin-top: 40px;
}

.joinnowbutton:hover {
background-color: rgb(189, 187, 187);
}

#navlogo {
padding-left: 50px;
padding-bottom: 50px;
}

#about-wrapper {
  width:78%;
  height: 500px;
  margin: 10%;
  margin-bottom: 3%;
  padding: 10px;

}

h1 { 
font-family: Poppins, Helvetica, sans-serif;
font-size: 50px;
font-weight: bold;
margin: 35px;
text-align: center;
margin-top: -5%;
}

h2 {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  margin-right:auto;
  margin-left: auto;
  padding-top: 50px;
  top: 40px;
}

h5 {
font-size: 20px;
font-weight: bold;
}

.aboutp {
font-size: 18pt;
line-height: 180%;
text-align: center;
letter-spacing: normal;
margin-bottom: 50%;
}

#whyus {
margin-bottom: 100px;
}

#container-3 { 
height: 250px;
width: 90%;
display:flex;
text-align: center;
padding: 30px;
margin: auto;

}

#flexicon {
 padding: 17px;
}


.offer-body {
font-family: Poppins, Helvetica, sans-serif;
}



.aboutoffersp {
font-size: 18pt;
line-height: 150%;
text-align: left;
letter-spacing: normal;
width: 70%;
padding-left: 13%;
}

.aboutoffersplt {
  font-size: 18pt;
  line-height: 150%;
  text-align: left;
  letter-spacing: normal;
  width: 40%;
  padding-left: 10%;
  }

#fistimage {
position: absolute;
height: auto;
width: auto;
left: 51%;
top: 17%;
}

.middletext {
padding-top: 20px; 
}

.howitworks {
height: 300px;
width: 70%;
display: inline-flex;
flex-direction: row;
text-align: center;
font-family: Poppins, Helvetica, sans-serif;
margin-right: 70%;
margin-left: 14%;
margin-bottom: 6%;
}

.container-2 {
text-align: center;
}

#icontitle {
padding-top: 20px;
}

#quieticon {
  padding-top: 7px;
  }

#iconp {
font-size: medium;
line-height: 22px;
padding-top: 10px;
padding-left:10px;
}

#hiwtitle {
margin-bottom: 80px;
}

.membersp {
font-size: 18pt;
line-height: 150%;
text-align: left;
letter-spacing: normal;
width: 20%;    
padding-top: 0px; 

  }

.listscontainer {
width: 68%;
height: 400px;
margin: auto;
display: flex;
text-align: left;
font-family: Poppins, Helvetica, sans-serif;
}


#first {
height: 350px;
width: 40%;
margin-right: auto;
font-size: 16pt;
line-height: 180%;
}

#second {
height: 350px;
width: 45%;
font-size: 16pt;
line-height: 180%;
}

h5 {
font-family: Poppins, Helvetica, sans-serif;
font-size: 30px;
font-weight: bold;
margin-bottom: 25px;
margin-left: 70px;
  }



.booknow-body {
font-family: Poppins, Helvetica, sans-serif;
margin-bottom: 20px;
padding: 40px;
}


input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 12px;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

select {
  width: 50%;
  padding: 16px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#formbutton {
margin-left: 12%;
margin-top: 2%;
margin-right: auto;
}

.slider {
height: 800px;
width: 70%;
left: 200px

}